@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ant-layout-header {
  background: #001529;
  padding: 0 50px;
  height: 64px;
  line-height: 6px;
}

.App-header {
  background-color: #4abdcf;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  color: whitesmoke;
}

.App-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.App-footer {
  background-color: #4abdcf;
  height: 70px;
  color: white;
}

.login-form {
  padding: 10px;
  max-width: 500px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

#showMe {
  display: none;
}

#halfDay {
  display: none;
}

#roles {
  display: none;
}

.custom-filter-dropdown-id {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown-id input {
  width: 130px;
  margin-right: 8px;
}

.custom-filter-dropdown-name {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown-name input {
  width: 130px;
  margin-right: 8px;
}