# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# legacy dependency golang
src/github.com
src/golang.org
src/google.golang.org
src/gopkg.in
database/migrations/m.go
database/migrations/m
logs/*
swagger
pkg

# editor ignore
.idea
.vscode
.DS_Store
*.swp
*.swo
beego.iml
env